.AuthDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AuthDiv form div label{
    font-size: 25px;
    color: white;
    font-weight: bold;
}

@media (max-width: 414px) {
    .AuthDiv{
        padding-top: 35%;
    }
}